* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    --maincolor:          #ffb3b3ff;
    --altcolor:           #ffd2b8ff;
    --backgroundcolor:    #ffffffff;
    --boxshadowcolor:     #ffb3b366;
    --darkboxshadowcolor: #ffb3b366;
    --hovercolor:         #ffb3b3ff;
    --unselectedcolor:    #ffeee4ff;
    --transparentcolor:   #00000000;
    --textcolor:          #0000004d;
    --buttoncolor:        #ffe6e6ff;
    --buttonhovercolor:   #fffafaff;

    background: var(--backgroundcolor);
}

#game-title {
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to left, var(--maincolor), var(--altcolor));
    background-clip: text;
    color: transparent;
    margin-bottom: 0;
}
#non-logged-in {
    color: var(--textcolor);
    margin-top: 8px;
    text-align: center;
    display: none;
}
#logged-in {
    margin-top: 8px;
    text-align: center;
    display: block;

    background: linear-gradient(to left, var(--maincolor), var(--altcolor));
    background-clip: text;
    color: transparent;
}

#username-visual {
    font-size: 24px;
    color: var(--altcolor);
}

.horizontal-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: linear-gradient(to left, var(--maincolor), var(--altcolor));
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px var(--boxshadowcolor);
}

.horizontal-list a {
    width: 15%;
    height: 4rem;
    background-color: var(--backgroundcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--maincolor);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 0.3s ease;
}

.horizontal-list a:hover {
    transform: translateY(-4px);
}

.horizontal-list a:active {
    transform: translateY(2px);
}

hr {
    background: linear-gradient(to left, var(--maincolor), var(--altcolor));
    border-radius: 4px;
    height: 5px;
    border: none;
}

#credentials-wrapper {
    background: linear-gradient(to top, var(--maincolor), var(--altcolor));
    padding: 40px;
    border-radius: 8px;
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 30px 0px var(--boxshadowcolor);
}

#credentials-wrapper div {
    text-align: center;
}

#login-title {
    text-align: center;
    color: var(--backgroundcolor);
}
#credentials {
    list-style: none;
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px var(--transparentcolor);
    transition: box-shadow 0.3s ease;
}

#credentials:hover {
    box-shadow: 0px 0px 20px 0px var(--hovercolor);
}

#credentials div {
    text-align: center;
}

#credentials div li {
    padding: 5px;
}

#credentials div li input {
    width: 40%;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: var(--maincolor);
    background-color: var(--backgroundcolor);
    font-weight: bold;
    padding: 10px;
    transition: width 0.2s ease-out;
    outline: none;
}

#credentials div li input:focus{
    width: 45%;
}

#credentials div li input::placeholder {
    color: var(--textcolor);
    font-weight: 10;
}

#login-button {
    border: none;
    width: 150px;
    height: 40px;
    color: var(--maincolor);
    border-radius: 8px;
    background-color: var(--buttoncolor);
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 14px;
}

#login-button:hover {
    cursor: pointer;
    background-color:var(--buttonhovercolor);
}

footer {
    text-align: center;
}

footer span{
    margin-left: 20px;
    margin-right: 20px;
}

#screen {
    background-color: var(--backgroundcolor);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px var(--boxshadowcolor);
    position: relative;
    z-index: 2;
}

#screen-wrapper {
    text-align: center;
    margin: 60px;
}

#no-account-prompt {
    background: linear-gradient(to top, var(--maincolor), var(--altcolor));
    padding: 30px;
    border-radius: 8px;
    width: 35%;
    height: 120px;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
    box-shadow: 0px 0px 30px 0px var(--boxshadowcolor);
}

#no-account-prompt p{
    font-size: 20px;
    color: var(--backgroundcolor);
}

#no-account-prompt a{
    text-decoration: none;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 14px;
    color: var(--maincolor);
    border-radius: 8px;
    background-color: var(--buttoncolor);
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#no-account-prompt a:hover {
    cursor: pointer;
    background-color:var(--buttonhovercolor);
}

div.scroll-menu-wrapper {
    margin: auto;
    width: 65%;
    height: 800px;
    background: linear-gradient(to top, var(--maincolor), var(--altcolor));
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 30px 0px var(--boxshadowcolor);

    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.scroll-menu {
    padding: 25px;
    width: 75%;
    height: 80%;
    background:transparent;
    overflow: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 14px;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, var(--maincolor), var(--altcolor));
    border-radius: 6px;
}

div.scroll-menu::-webkit-scrollbar {
    width: 14px;
}
div.scroll-menu::-webkit-scrollbar-thumb {
    background: var(--backgroundcolor);
    border-radius: 6px;
}

div.setting-page {
    border-radius: 8px;
    width: 80%;
    height: 400px;
    background-color: var(--backgroundcolor);
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    
}

#game-settings {
    height: 500px;
}

#audio-settings {
    height: 450px;
}

#epic-settings {
    height: 250px;
}

div.setting-page ul {
    list-style: none;
    text-align: left;
}

div.setting-page h2 {
    font-size: 30px;
    padding: 30px;
}

div.setting-page ul li {
    padding: 20px;
}

div.setting-page h2, div.setting-page label {
    color:var(--maincolor);
}

input.range-input, input.volume-range-input {
    --sliderColor: var(--maincolor);
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    background: var(--unselectedcolor);
    height: 3px;
    border-radius: 8px;
}

input.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--maincolor);
    border-radius: 50%;
    cursor: pointer;
}

input.volume-range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--sliderColor);
    border-radius: 50%;
    cursor: pointer;
}

input.range-input::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--maincolor);
    border-radius: 50%;
    cursor: pointer;
}

input.checkbox-input {
    margin: 10px;
    -webkit-appearance: none;
    appearance: none;

    height: 25px;
    width: 25px;
    background-color: var(--unselectedcolor);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input.checkbox-input:checked {
    background-color: var(--maincolor);
}

#randomdog {
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px var(--boxshadowcolor);
    transition: box-shadow 0.5s ease, width 0.5s ease, height 0.5s ease;
}

#randomdog:hover{
    border-radius: 8px;
    box-shadow: 0px 0px 40px 0px var(--darkboxshadowcolor);
    width: 62%;
    height: 62%;
}

#random-apis {
    margin: auto;
    text-align: center;
    background: var(--backgroundcolor);
    width: 500px;
    height: 500px;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0px var(--boxshadowcolor);
}

#random-apis h3 {
    color: var(--maincolor);
    font-size: 24px;
}

#leaderboard {
    margin: auto;
    background-color: var(--backgroundcolor);
    width: 90%;
    padding: 25px;
    border-radius: 8px;
    color: var(--maincolor);
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(-100%);
      color: transparent;
      height: 0px;
    }
    100% {
      transform: translateY(0);
      color: var(--maincolor);
      height: 40px;
    }
}  

.leaderboard-stat {
    animation: 0.4s ease-in 0s 1 slideInFromLeft;
    text-align: center;
}



#top1 {
    font-weight: bold;
    color: #f0d88b;
    font-size: 26px;
}

#top2 {
    font-weight: bold;
    color: #d6d6d6;
    font-size: 22px;
}

#top3 {
    font-weight: bold;
    color: #d8a275;
    font-size: 20px;
}

.rank-td {
    font-weight: bold;
}

tr {
    margin-bottom: 20px;
    padding-bottom: 20px;
    height: 40px;
}

#jokesetup {
    margin-top: 50px;
    color: var(--textcolor);
    font-size: small;
    cursor: default;
}

#jokedelivery {
    color: var(--transparentcolor);
    margin-top: 20px;
    font-size: small;
    background-color: var(--unselectedcolor);
    width: 200px;
    margin: auto;
    border-radius: 8px;

    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: default;
}

#jokedelivery:hover{
    color: var(--textcolor);
    background-color: var(--backgroundcolor); 
}

#emojishop {
    left: calc(50% - 200px);
    z-index: 3;
    position: absolute;
    width: 400px;
    height: 150px;
    border-radius: 8px;
    background: linear-gradient(to left, var(--maincolor), var(--altcolor));
    box-shadow: 0px 0px 20px 0px var(--boxshadowcolor);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: top 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), height 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    font-size: 20px;
}

.buy-button {
    border: none;
    background-color: var(--buttoncolor);
    width: 25%;
    height: 75%;
    border-radius: 8px;
    
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buy-button:hover {
    cursor: pointer;
    background-color:var(--buttonhovercolor);
    box-shadow: 0px 0px 20px 0px var(--textcolor);
}

.shop-icon {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 40%;
}

.currency {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    height: 45%;
    vertical-align: middle;
}