* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#game-title {
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to left, #ffb3b3, #ffd2b8f6);
    background-clip: text;
    color: transparent;
    margin-bottom: 0;
}
#non-logged-in {
    margin-top: 8px;
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, 0.3);
}
#logged-in {
    margin-top: 8px;
    text-align: center;
    display: none;

    background: linear-gradient(to left, #ffb3b3, #ffd2b8f6);
    background-clip: text;
    color: transparent;
}
#username {
    color: rgba(0, 0, 0, 0.3);
}


.horizontal-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: linear-gradient(to left, #ffb3b3, #ffd2b8f6);
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(255, 179, 179, 0.4);
}

.horizontal-list a {
    width: 15%;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffb3b3;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}

hr {
    background: linear-gradient(to left, #ffb3b3, #ffd2b8f6);
    border-radius: 4px;
    height: 5px;
    border: none;
}

#credentials-wrapper {
    background: linear-gradient(to top, #ffb3b3, #ffd2b8f6);
    padding: 40px;
    border-radius: 8px;
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 30px 0px rgba(255, 179, 179, 0.4);
}

#credentials-wrapper div {
    text-align: center;
}

#login-title {
    text-align: center;
    color: white;
}
#credentials {
    list-style: none;
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(255, 179, 179, 0.2);
    transition: box-shadow 0.3s ease;
}

#credentials:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 179, 179, 1);
}

#credentials div {
    text-align: center;
}

#credentials div li {
    padding: 5px;
}

#credentials div li input {
    width: 40%;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: #ffb3b3;
    font-weight: bold;
    padding: 10px;
    transition: width 0.2s ease-out;
    outline: none;
}

#credentials div li input:focus{
    width: 45%;
}

#credentials div li input::placeholder {
    color: grey;
    font-weight: 10;
}

#login-button {
    border: none;
    width: 150px;
    height: 40px;
    color: #ffb3b3;
    border-radius: 8px;
    background-color: rgba(255, 230, 230, 1);
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 14px;
}

#login-button:hover {
    cursor: pointer;
    background-color:rgba(255, 250, 250, 1);
}

footer {
    text-align: center;
}

footer span{
    margin-left: 20px;
    margin-right: 20px;
}

#screen {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(255, 179, 179, 0.4);
    position: relative;
    z-index: 2;
}

#screen-wrapper {
    text-align: center;
    margin: 60px;
}

#no-account-prompt {
    background: linear-gradient(to top, #ffb3b3, #ffd2b8f6);
    padding: 30px;
    border-radius: 8px;
    width: 35%;
    height: 120px;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(255, 179, 179, 0.4);
}

#no-account-prompt p{
    font-size: 20px;
    color: white;
}

#no-account-prompt a{
    text-decoration: none;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 14px;
    color: #ffb3b3;
    border-radius: 8px;
    background-color: rgba(255, 230, 230, 1);
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#no-account-prompt a:hover {
    cursor: pointer;
    background-color:rgba(255, 250, 250, 1);
}

div.scroll-menu-wrapper {
    margin: auto;
    width: 65%;
    height: 800px;
    background: linear-gradient(to top, #ffb3b3, #ffd2b8f6);
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 30px 0px rgba(255, 179, 179, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.scroll-menu {
    padding: 25px;
    width: 75%;
    height: 80%;
    background:transparent;
    overflow: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 14px;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #ffb3b3, #ffd2b8f6);
    border-radius: 6px;
}

div.scroll-menu::-webkit-scrollbar {
    width: 14px;
}
div.scroll-menu::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 6px;
}

div.setting-page {
    border-radius: 8px;
    width: 80%;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    
}

#game-settings {
    height: 350px;
}

#audio-settings {
    height: 450px;
}

#epic-settings {
    height: 250px;
}

div.setting-page ul {
    list-style: none;
    text-align: left;
}

div.setting-page h2 {
    font-size: 30px;
    padding: 30px;
}

div.setting-page ul li {
    padding: 20px;
}

div.setting-page h2, div.setting-page label {
    color:#FFB3B3;
}

input.range-input, input.volume-range-input {
    --sliderColor: #FFB3B3;
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    background: #ffd2b860;
    height: 3px;
    border-radius: 8px;
}

input.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #FFB3B3;
    border-radius: 50%;
    cursor: pointer;
}

input.volume-range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--sliderColor);
    border-radius: 50%;
    cursor: pointer;
}

input.range-input::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #FFB3B3;
    border-radius: 50%;
    cursor: pointer;
}

input.checkbox-input {
    margin: 10px;
    -webkit-appearance: none;
    appearance: none;

    height: 25px;
    width: 25px;
    background-color: #ffd2b860;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input.checkbox-input:checked {
    background-color: #FFB3B3;
}

#randomdog {
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0px rgba(255, 179, 179, 0.4);
}

#random-apis {
    margin: auto;
    text-align: center;
    background: #FFF;
    width: 500px;
    height: 500px;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0px rgba(255, 179, 179, 0.4);
}

#random-apis h3 {
    color: #FFB3B3;
    font-size: 24px;
}

#leaderboard {
    margin: auto;
    background-color: white;
    width: 90%;
    padding: 25px;
    border-radius: 8px;
    color: #FFB3B3;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(-100%);
      color: transparent;
      height: 0px;
    }
    100% {
      transform: translateY(0);
      color: #FFB3B3;
      height: 40px;
    }
}  

.leaderboard-stat {
    animation: 0.4s ease-in 0s 1 slideInFromLeft;
    text-align: center;
}



#top1 {
    font-weight: bold;
    color: #f0d88b;
    font-size: 26px;
}

#top2 {
    font-weight: bold;
    color: #d6d6d6;
    font-size: 22px;
}

#top3 {
    font-weight: bold;
    color: #d8a275;
    font-size: 20px;
}

.rank-td {
    font-weight: bold;
}

tr {
    margin-bottom: 20px;
    padding-bottom: 20px;
    height: 40px;
}

#jokesetup {
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.3);
    font-size: small;
    cursor: default;
}

#jokedelivery {
    color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    font-size: small;
    background-color: #FFEEE4;
    width: 200px;
    margin: auto;
    border-radius: 8px;

    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: default;
}

#jokedelivery:hover{
    color: rgba(0, 0, 0, 0.3);
    background-color: #FFF; 
}